extends layout

block content
  
  .content
    h1= title
    .info
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      p Curabitur ut orci sem. Aliquam elementum diam eget sapien tempus semper quis efficitur orci. 
      p In eros sapien, feugiat quis dui in, consequat congue elit. 
